<!-- bottom nav bar -->
<div class="container-navbar">
  <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
    <h6 class="navbar-text bottom-nav">
      &copy; Copyright 2023 by Muntaha Ali, Eshal Arif, Saim Khan, Anusha Shahid and Abdullah Umair
   
      <a href="https://www.linkedin.com" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>

      <a href="https://github.com/Phoenix32l/Project_Part2" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
    </h6>
  </nav>
</div>
