<% include partials/header%> 
<% include partials/main_nav%> 


<!----> formatting a page for lahori kitchen  

<!--creating a html doctype declartion-->
<!DOCTYPE HTML>
<html>
<body>
    <!--formattingn the aboutus page, with a heading and a video and an image-->
    <div class="aboutus1">
        <h2> Get to Know Us:</h2>
        <div class= "teamimage"> 
            <img src="Assets/images/chefsimage.jpg" alt="Image" width="250" height="300">
        <div class= "eshals-video"> 
            <video width="400" height="400" controls poster="Assets/images/neon-sign-english.gif">
            <source src="Assets/images/" type="video/mp4">
            <source src="filename.ogv" type="video/ogg">
            Your browser doesn't support the video tag.
        </video>
        </div>
        </div>
        </div>
    <!--creating a seperate class for information (paragraph format)-->
    <div class ="section">
        <div class="aboutusinfo">
            <article>
                <p>Lahori Kitchen is a website, created by Muntaha, Eshal, Saim, Anusha and Abdullah the founders of our company. This web application allows you to create a recipie book. So you can share your cooking skill's with the rest of the world! Our recipie book is coded so you can create, read, update, and delete any recipie from your book!</p>
        </article>
    </div>


</body>







<% include partials/bottom_navigation%> 
<% include partials/footer%> 

