<% include partials/header%> 
<% include partials/main_nav%> 

<body>
<!--creating a class. to store information for homepage called port-->
    <div class="port home-page">
        <br> 
        <h2>Welcome to Lahori Kitchen!</h3>
        <h3> we bring you the finest taste's from Lahore </h4>
        <p class = "learn">Learn more about us through this webpage, we look forward to connecting with you!</p>
    </div>
</body>

<% include partials/bottom_navigation%> 
<% include partials/footer%> 


