<% include partials/header%> 
<% include partials/main_nav%> 

<body>
    <div class="rightsside">
            
        <h2>Here are the projects that we have previously worked on :</h2>
            
            <div class="boxes">
                <h3>Toured With Lahore's Finest Restaurants</h3>
                <p>We are touring with Lahore's Top restaurants to bring their extordinary tastes to you!</p>
            </div>
            
            <div class="boxes">
                <h3>Created Our Own Cookbook</h3>
                <p>We have experimented with the finest ingredents to bring the tastes from the streets of lahore into your cooking pallete, for a new change!</p>
            </div>
            
            <div class="boxes">
                <h3>Joined with Several Chefs to Create Our Team</h3>
                <p>We partnered with several chef's to build our company, Lahori Kitchen</p>
            </div>
            
            <div class="boxes">
                <h3>Experiment with Different Culinary Styles </h3>
                <p>We use the most unique techniques, to elevate each one of our recipe's so you can have the best experience with your food!</p>
            </div>
            
            <div class="boxes">
                <h3> Community Events and Partnerships</h3>
                <p> We have hosted community cook events, where you can collaborate and work with other chef's to bring different tastes from different backgrounds, and cultures!</p>
            </div>
            
            <div class="boxes">
                <h3>Online Cooking Classes</h3>
                <p>Our team offers online cooking classes, where you can get one on one expirience and learn step by step with guidance</p>
            
            </div>
        </div>
    
    </body>

<% include partials/bottom_navigation%> 
<% include partials/footer%> 
